.projects {
    min-height: 100vh;
    background-color: var(--color2);
    padding: 6rem;
    display: flex;
    gap: 3rem
}

.projects .title-container {
    opacity: 0;
    transform: translateX(-25%);
}

.section-emerge.emerge .projects .title-container {
    animation: emergeLeft 1.5s both;
}

.projects .title-container > .title-wrapper {
    position: sticky;
    top: 6rem;
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center;
}

.projects .title-container > .title-wrapper h2 {
    cursor: vertical-text;
    font: bold 4rem / 1.5 var(--font);
    color: var(--color1);
    rotate: -90deg;
    margin-inline: -6rem;
}

.projects .projects-container {
    opacity: 0;
    transform: translateX(25%);
}

.section-emerge.emerge .projects .projects-container {
    animation: emergeRight 1.5s both;
}

.projects .projects-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 3rem;
}

a {
    text-decoration: none;
}

.project-card {
    height: 100%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: .5rem 1rem 2rem #30304040;
}

.project-card .text-container {
    padding: 1rem 1rem 2rem 1rem;
}

.project-card > img {
    width: 100%;
    margin-block: -6px;
    border-radius: 2rem 2rem 0 0;
}

.project-card .text-container > h3 {
    font: bold 2.4rem var(--font);
    color: var(--color1);
    margin-bottom: 1rem;
}

.project-card .text-container > p {
    font: normal 1.2rem var(--font2);
    color: var(--color1);
}

@keyframes emergeLeft {
    from {
        opacity: 0;
        transform: translateX(-25%);
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes emergeRight {
    from {
        opacity: 0;
        transform: translateX(25%);
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

@media (width < 800px) {
    .projects {
        flex-wrap: wrap;
    }

    .projects .title-container {
        flex-grow: 1;
    }

    .projects .title-container > .title-wrapper {
        height: auto;
    }

    .projects .title-container > .title-wrapper h2 {
        cursor: text;
        rotate: none;
        margin-inline: 0;
    }
}