.projects {
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--color2);
    padding: 0 6rem 6rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.projects .title-container {
    opacity: 0;
    transform: translateX(-25%);
}

.projects .title-container > h2 {
    font: bold 4rem / 1.5 var(--font);
    color: var(--color1);
    text-align: center;
}

.section-emerge.emerge .projects .title-container {
    animation: emergeUp 1.5s both;
}

.projects .projects-container {
    opacity: 0;
    transform: translateX(25%);
}

.section-emerge.emerge .projects .projects-container {
    animation: emergeDown 1.5s both;
}

.projects .projects-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 3rem;
}

a {
    text-decoration: none;
}

.project-card {
    height: 100%;
    background-color: white;
    padding: 1rem;
    border: 2px solid var(--color1);
    transition: all 125ms;
}

a:hover .project-card {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: .5rem .5rem 0 var(--color1);
}

.project-card .text-container {
    padding: 1rem 1rem 1rem 0;
}

.project-card > img {
    width: 100%;
    border: 2px solid var(--color1);
}

.project-card .text-container > h3 {
    font: bold 2.4rem var(--font);
    color: var(--color1);
    margin-bottom: 1rem;
}

.project-card .text-container > p {
    font: normal 1.4rem var(--font2);
    color: var(--color1);
}

@keyframes emergeUp {
    from {
        opacity: 0;
        transform: translateY(-25%);
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes emergeDown {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

@media (width < 800px) {
    .projects {
        flex-wrap: wrap;
        padding: 2rem;
    }

    .projects .title-container {
        flex-grow: 1;
    }

    .projects .title-container > .title-wrapper {
        height: auto;
    }

    .projects .title-container > .title-wrapper h2 {
        cursor: text;
        font-size: 2rem;
        rotate: none;
        margin-inline: 0;
    }

    .projects .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}