.welcome {
    z-index: -1;
    position: relative;
    height: 100vh;
    background: url('../../media/background.jpg') center bottom no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.welcome > h1 {
    font: bold 6rem var(--font);
    color: var(--color1);
    animation: upTitle 2s 1s both;
}

@keyframes upTitle {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@media (width < 900px) {
    .welcome > h1 {
        font-size: 3rem;
    }
}