.about {
    min-height: 100vh;
    background-color: var(--color2);
    box-shadow: 0 0 3rem 3rem var(--color2);
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about > div {
    width: 24rem;
}

.about .picture-container {
    opacity: 0;
    transform: translateX(-25%);
    border: 2px solid var(--color1);
    padding: 1rem;
    box-shadow: .5rem .5rem 0 var(--color1);
}

.about .picture-container > img {
    width: 100%;
    margin-bottom: -6px;
}

.section-emerge.emerge .about .picture-container {
    animation: emergeLeft 1.5s both;
}

.about .text-container {
    color: var(--color1);
    opacity: 0;
    transform: translateX(25%);
}

.section-emerge.emerge .about .text-container {
    animation: emergeRight 1.5s both;
}

.about .text-container > hr {
    border: 1px solid var(--color1);
    margin-block: 0.5rem;
}

.about .text-container h2 {
    font: bold 3rem var(--font);
}

.about .text-container p {
    font: normal 1.2rem/1.5 var(--font2);
}

@keyframes emergeLeft {
    from {
        opacity: 0;
        transform: translateX(-25%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes emergeRight {
    from {
        opacity: 0;
        transform: translateX(25%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@media screen and (width < 500px) {
    .about {
        padding: 3rem;
    }

    .about .text-container > h2 {
        font-size: 2.5rem;
    }
}