@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

:root {
    --font-primary: 'Chivo Mono';
    --font-secundary: 'Roboto';
    --font-title: 'Parisienne';
    --base-white: #fafaff;
    --base-black: #303040;
    --cursor-default: url('/cursors/cursor-default-light.svg'), auto;
    --cursor-pointer: url('/cursors/cursor-pointer-light.svg') 3 0, auto;
}

.dark {
    --base-white: #151519;
    --base-black: #eeeeff;
    --cursor-default: url('/cursors/cursor-default-dark.svg'), auto;
    --cursor-pointer: url('/cursors/cursor-pointer-dark.svg') 3 0, auto;
}

@theme inline {
    --font-primary: var(--font-primary);
    --font-secundary: var(--font-secundary);
    --font-title: var(--font-title);

    --color-white-50: hsl(from var(--base-white) h s calc(l - 5));
    --color-white-100: var(--base-white);
    --color-white-200: hsl(from var(--base-white) h s calc(l + 5));

    --color-black-50: hsl(from var(--base-black) h s calc(l - 5));
    --color-black-100: var(--base-black);
    --color-black-200: hsl(from var(--base-black) h s calc(l + 5));

    --cursor-pointer: var(--cursor-pointer);
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    html {
        scroll-behavior: smooth;
        cursor: var(--cursor-default);
    }

    @supports (-webkit-touch-callout: none) {
        input,
        textarea,
        select {
            font-size: 16px;
        }
    }
}

@layer components {
    .icon {
        @apply h-[32pt] w-[32pt] stroke-black-100 transition-all duration-125 hover:-translate-y-2;
    }
}

@utility animate-welcome {
    animation: animation-welcome 2s 500ms forwards;
}

@utility shadow-basic {
    box-shadow: 0.5rem 0.5rem 0 var(--base-black);
}

@utility shadow-about {
    box-shadow: 0 0 3rem 3rem var(--base-white);
}

@utility animate-fade-in {
    animation: fade-in 500ms ease forwards;
}

@utility animate-fade-out {
    animation: fade-out 500ms ease forwards;
}

@utility animate-translate-left {
    animation: animation-translate-left 1.5s forwards;
}

@utility animate-translate-right {
    animation: animation-translate-right 1.5s forwards;
}

@utility animate-translate-down {
    animation: animation-translate-down 1.5s forwards;
}

@utility animate-translate-up {
    animation: animation-translate-up 1.5s forwards;
}

@keyframes animation-welcome {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes animation-translate-left {
    from {
        transform: translateX(-25%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes animation-translate-right {
    from {
        transform: translateX(25%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes animation-translate-down {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes animation-translate-up {
    from {
        transform: translateY(-25%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@custom-variant dark (&:where(.dark, .dark *));
