@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --font: 'Chivo Mono';
    --font2: 'Roboto';
    --font-title: 'Parisienne';
    --color1: #303040;
    --color2: #FFFAFA;
}

html {
    scroll-behavior: smooth;
}